# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE & OS
.vscode/
.idea/
Thumbs.db
Desktop.ini
.DS_Store
push_to_github.bat
